<%- include('partials/header') %>
    <%- include('partials/navbar') %>
    <div class="container">
        <hr>
        <div class="jumbotron">
            <h1 class="display-4">Bem-vindo</h1>
            <p class="lead">Este é o sistema ABC.</p>
            <hr class="my-4">
            <p>Descrição detalhada aqui!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Leia mais</a>
        </div>
        <hr>
    </div>

        <%- include('partials/footer') %>